@import "../../App.scss";

.nav {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    @include global-max-width;

    &-list {
        display: flex;
        width: 75%;
    }

    color: $text-color;
    &-option {
        color: inherit;
        &,
        &:link,
        &:visited {
            color: $text-color;
            text-decoration: none;
            padding-right: 4rem;
            display: inline-block;
            border-radius: 10rem;
            transition: all 0.2s;
            position: relative;
            font-size: $font-size;
            border: none;
            cursor: pointer;
        }
    }

    &-name {
        width: 25%;
    }
}

.current-option {
    color: $color-second;
}
